<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
<h1>Streamix</h1>
<div>
    <video id="video" width="640" playsinline autoplay ></video>
    <canvas id="output-canvas" width="640" height="360" ></canvas>
</div>
<h1 id="i"></h1>
<h1>****</h1>
<h1 id="j"></h1>
</body>
</html>